
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<main>
    <ul id="cd-gallery-items" class="cd-container">
        <li>
            <img src="~/Content/img/thumb.jpg" alt="Preview image">
        </li>

        <li>
            <img src="~/Content/img/thumb.jpg" alt="Preview image">
        </li>

        <li>
            <img src="~/Content/img/thumb.jpg" alt="Preview image">
        </li>

        <li>
            <img src="~/Content/img/thumb.jpg" alt="Preview image">
        </li>

        <li>
            <img src="~/Content/img/thumb.jpg" alt="Preview image">
        </li>

        <li>
            <img src="~/Content/img/thumb.jpg" alt="Preview image">
        </li>

        <li>
            <img src="~/Content/img/thumb.jpg" alt="Preview image">
        </li>

        <li>
            <img src="~/Content/img/thumb.jpg" alt="Preview image">
        </li>

        <li>
            <img src="~/Content/img/thumb.jpg" alt="Preview image">
        </li>

        <li>
            <img src="~/Content/img/thumb.jpg" alt="Preview image">
        </li>

        <li>
            <img src="~/Content/img/thumb.jpg" alt="Preview image">
        </li>

        <li>
            <img src="~/Content/img/thumb.jpg" alt="Preview image">
        </li>
    </ul> <!-- cd-gallery-items -->
</main>

