@using System;
@using System.Web.Mvc;
@using System.Web.Mvc.Html;

@functions{
/// <summary>
/// FB like
/// </summary>
}
@helper FbLike()
{
    var url = new System.Web.Mvc.UrlHelper(Context.Request.RequestContext);
    var str = Context.Request.RawUrl;
    <!--fb-->
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    @*<div class="fb-like" data-href="http://www.hwa-guan.com.tw/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>*@
    <div class="fb-like" data-href="http://www.hwa-guan.com.tw/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
    <!--fb -->
}